/* Reusable element styles */

.boxed-header {
  background-color: var(--grey-200);
  border: 1px solid var(--grey-700);
  border-radius: 8px;
  color: var(--grey-700);
  font-size: 1.2em;
  font-weight: 600;
  padding: 16px 24px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxed-header-highlight {
  background-color: var(--blue-100);
  border-color: var(--blue-600);
  color: var(--blue-600);
}

.headed-quote {
  display: grid;
  grid-template-rows: auto minmax(400px, 1fr);
  height: 100%;
}

.headed-quote-header {
  font-size: 1.2em;
  font-weight: 700;
  display: flex;
  align-items: center;
  text-align: left;
  margin-top: 8px;
  margin-bottom: 4px;
}

.headed-quote-body {
  font-size: 1em;
  font-weight: 400;
  padding: 1em 0 1em 2em;
  text-align: start;
}